{{ form_start(form) }}
        {{ form_start(form) }}
        <div class="m-5">
            <div class="mt-5">
                {{ form_row(form.nom) }}
            </div>
            <div class="mt-5">
                {{ form_row(form.language) }}
            </div>
            <div class="mt-5">
                {{ form_row(form.conditions) }}
            </div>
            <div class="mt-5">
                {{ form_row(form.Description) }}
            </div>
            <div class="mt-5">
                <button class="btn">{{ button_label|default('Enregistrer') }}</button>
                {{ form_end(form) }}
            </div>
        </div>

