{% extends 'base.html.twig' %}

{% block title %}
    Damien C. | Portfolio
{% endblock %}

{% block body %}
    {% for project in projects %}
        <main class="page-content container-fluid">
            <div class="row"></div>
            <div class="card">
                <div class="content">
                    <h2 class="title">{{ project.nom }}</h2>
                    <h4 class="">{{ project.conditions }}</h4>
                    <p class="copy">{{ project.description }}</p>
                    <a href="{{ path('projects_edit', {'id': project.id}) }}" class="btn">Modifier</a>
                </div>
            </div>
        </main>
    {% endfor %}
    <div>
        <div>
            <a class="btn btn-lg btn-outline-dark mb-5" href="{{ path('home') }}">Retour a la page d'accueil</a>
        </div>
    </div>
{% endblock %}
