{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}
    <h1>Projects</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ project.nom }}</td>
            </tr>
            <tr>
                <th>Language</th>
                <td>{{ project.language }}</td>
            </tr>
            <tr>
                <th>Conditions</th>
                <td>{{ project.conditions }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('projects_index') }}">back to list</a>

    <a href="{{ path('projects_edit', {'id': project.id}) }}">edit</a>

    {{ include('projects/_delete_form.html.twig') }}
{% endblock %}
